[submodule "CSS-ASSIGNMENTS/NealeFreddie-Profile"]
    path = CSS-ASSIGNMENTS/NealeFreddie-Profile
    url = /Users/neale/Professional-Portfolio/Portfolio/Full-Sail-University/HTML-ASSIGNMENTS/NealeFreddieExerciseFORMS

